<% layout('layouts/boilerPlate') %>
<%- include('../partials/header') %> 
<%- include('../partials/flash') %> 

<h1 class='mb-5'>Editing Product Detail</h1> 
<div class = 'row mx-auto' >
    <!-- <h2>Create New Products</h2> -->
    <form action="/products/<%= foundProduct._id%>?_method=PATCH" class="needs-validation" method="POST" id = "frm" novalidate >
        <div class="mb-3">
          <label for="Name" class="form-label">Name Of Product</label>
          <input type="text" class="form-control" name ="name" id="Name" aria-describedby="emailHelp" placeholder="Enter Name Of Products" value="<%= foundProduct.name %>" required>
            <div class="valid-feedback">
            Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter Name Field.
            </div>
        </div>
        <div class="mb-3">
          <label for="paisa" class="form-label">Price</label>
          <input type="Number" class="form-control" name ="price" id="paisa"  value="<%= foundProduct.price %>" required>
          <div class="valid-feedback">
            Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter Price Field.
            </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">image</label>
          <input type="text" class="form-control" name ="img" id="image"   value="<%= foundProduct.img %>" required>
          <div class="valid-feedback">
            Looks good!
            </div>
            <div class="invalid-feedback">
              Please Enter img URL Field.
            </div>
        </div>
        <div class="input-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea form="frm" class="form-control" name = "desc" id="description" aria-label="With textarea" ><%= foundProduct.desc %></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Update Product Data </button>
      </form>
</div>
<body>

  <script>
    (() => {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')
  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
  </script>
</body>